In [ ]:
!pip install opendatasets

In [ ]:
import opendatasets as od
od.download('https://www.kaggle.com/dileep070/heart-disease-prediction-using-logistic-regression')

In [52]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model
import math as mt
import seaborn as sns

In [5]:
df = pd.read_csv('/content/heart-disease-prediction-using-logistic-regression/framingham.csv')
df.head()

   male  age  education  currentSmoker  ...    BMI  heartRate  glucose  TenYearCHD
0     1   39        4.0              0  ...  26.97       80.0     77.0           0
1     0   46        2.0              0  ...  28.73       95.0     76.0           0
2     1   48        1.0              1  ...  25.34       75.0     70.0           0
3     0   61        3.0              1  ...  28.58       65.0    103.0           1
4     0   46        3.0              1  ...  23.10       85.0     85.0           0

[5 rows x 16 columns]

In [6]:
df.shape

(4238, 16)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4238 entries, 0 to 4237
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   male             4238 non-null   int64
 1   age              4238 non-null   int64
 2   education        4133 non-null   float64
 3   currentSmoker    4238 non-null   int64
 4   cigsPerDay       4209 non-null   float64
 5   BPMeds           4185 non-null   float64
 6   prevalentStroke  4238 non-null   int64
 7   prevalentHyp     4238 non-null   int64
 8   diabetes         4238 non-null   int64
 9   totChol          4188 non-null   float64
 10  sysBP            4238 non-null   float64
 11  diaBP            4238 non-null   float64
 12  BMI              4219 non-null   float64
 13  heartRate        4237 non-null   float64
 14  glucose          3850 non-null   float64
 15  TenYearCHD       4238 non-null   int64
dtypes: float64(9), int64(7)
memory usage: 529.9 KB

In [8]:
df.describe()

              male          age  ...      glucose   TenYearCHD
count  4238.000000  4238.000000  ...  3850.000000  4238.000000
mean      0.429212    49.584946  ...    81.966753     0.151958
std       0.495022     8.572160  ...    23.959998     0.359023
min       0.000000    32.000000  ...    40.000000     0.000000
25%       0.000000    42.000000  ...    71.000000     0.000000
50%       0.000000    49.000000  ...    78.000000     0.000000
75%       1.000000    56.000000  ...    87.000000     0.000000
max       1.000000    70.000000  ...   394.000000     1.000000

[8 rows x 16 columns]

In [18]:
df['education'] = df['education'].fillna(1)

In [29]:
df['cigsPerDay'] = df.cigsPerDay.fillna(mt.floor(df['cigsPerDay'].mean()))

In [32]:
df['BPMeds'] = df['BPMeds'].fillna(0)

In [36]:
df['totChol'] = df['totChol'].fillna(234)

In [40]:
df['heartRate'] = df['heartRate'].fillna(70)

In [44]:
df['BMI'] = df['BMI'].fillna(df['BMI'].median())

In [46]:
df['glucose'].value_counts()

75.0     193
77.0     167
73.0     156
80.0     152
70.0     152
        ...
297.0      1
167.0      1
202.0      1
235.0      1
274.0      1
Name: glucose, Length: 143, dtype: int64

In [50]:
df['glucose'] = df['glucose'].fillna(df['glucose'].median())

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4238 entries, 0 to 4237
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   male             4238 non-null   int64
 1   age              4238 non-null   int64
 2   education        4238 non-null   float64
 3   currentSmoker    4238 non-null   int64
 4   cigsPerDay       4238 non-null   float64
 5   BPMeds           4238 non-null   float64
 6   prevalentStroke  4238 non-null   int64
 7   prevalentHyp     4238 non-null   int64
 8   diabetes         4238 non-null   int64
 9   totChol          4238 non-null   float64
 10  sysBP            4238 non-null   float64
 11  diaBP            4238 non-null   float64
 12  BMI              4238 non-null   float64
 13  heartRate        4238 non-null   float64
 14  glucose          4238 non-null   float64
 15  TenYearCHD       4238 non-null   int64
dtypes: float64(9), int64(7)
memory usage: 529.9 KB

In [101]:
X = df[['male','age','cigsPerDay','totChol','sysBP','glucose']]
Y = df.iloc[:,-1].values

In [102]:
from sklearn.model_selection import train_test_split
X_train , X_test , Y_train , Y_test= train_test_split(X, Y, test_size = 0.2)

In [103]:
from sklearn.preprocessing import StandardScaler, Normalizer
norm = Normalizer()
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [104]:
model = linear_model.LogisticRegression()
model.fit(X_train , Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [105]:
model.coef_

array([[0.2341975 , 0.51117496, 0.23291027, 0.04405312, 0.42069025,
        0.18072143]])

In [106]:
model.score(X_train , Y_train)

0.8551622418879056

In [107]:
from sklearn.metrics import confusion_matrix, accuracy_score
Y_pred = model.predict(X_test)

In [108]:
confusion_matrix(Y_test,Y_pred)

array([[705,   7],
       [127,   9]])